<html>
    <head>
        <title><%= title %></title>
        <link rel="stylesheet" href="/style.css">
        <script src="https://kit.fontawesome.com/9303a866dd.js"></script>
    </head>
    <body>
        
    