<% include ./partials/header.ejs %>
<h1>Login</h1>
<form action="/login" method='POST'>
<label for="emailuser">email</label>
<input type="email" id="emailuser" placeholder="Email ID" name="email">
<label id="passworduser">Password</label>
<input type="password" id="passworduser" placeholder="Password" name="password">
<button>SUBMIT</button>
</form>
<% include ./partials/footer.ejs %>
