<% include ./partials/header.ejs %>

<div style='display: none'>
<%-content[0].fcontent%>
</div>

<table class="table">
        <thead class="thead-dark">
<tr id='headrow' >
</tr>

</thead>
<tbody>

<% for(let i=0;i<result.length;++i) {%>  
        <tr>
<% for(let j=1;j<=qNo;++j) { %>
        <td><%=result[i][`q${j}`]%></td>
    <% } %>    
  </tr>
<% } %>
      </tbody>
    </table>

<a href="/dashboard">dashboard</a>
<a href="/logout">logout</a>

<script>
let qnm = [],
     headRow = document.querySelector(`#headrow`),
     htline='',
     idline;   
  
for(let i=1;i<=<%=qNo%>;++i){
    idline = document.querySelector(`#qnum${i}p`).textContent;
    console.log(idline);
   htline += `<th scope="col">${idline}</th>` ;      
  if(i==<%=qNo%>)
   headRow.insertAdjacentHTML(`afterbegin`, `${htline}`);
}
</script>

<% include ./partials/footer.ejs %>