<% include ./partials/header.ejs %>
<h1>Sign Up</h1>
<form action="/signup" method='POST'>
<label for="emailuser">email</label>
<input type="email" id="emailuser" placeholder="Email ID" name="email">
<label id="passworduser">Password</label>
<input type="password" id="passworduser" placeholder="Password" name="password">
<button>SUBMIT</button>
</form>

<a href="/login">Already a member.Login</a>
<% include ./partials/footer.ejs %>
