#formbx{
    height: 100%;
    width: 50%;
    margin: 0 auto;
    border: 2px solid black;
    padding: 5%;
}

#formcontent{
z-index: 0;
}

.numhead{
    font-size: 2rem;
}

#quesbx{
    position: absolute;
    top: 50%;
    left: 25%;
    border: 2px solid black;
    background-color: azure;
    padding-bottom: 1%;
    width: 50%;
    margin: 0 auto; 
    display: none;
}
#objects{
    margin-top: 5%;
    padding-left: 5%; 
}

#emailfinal{
    display: none;
}

#txtfinal{
    display: none;
}

#radioin1{
    display: none;
}

#radionm1{
    display: none;
}

#plussignrd{
    display: none;
}

#checkbxin1{
    display: none;
}

#checkbxnm1{
    display: none;
}

#plussignch{
    display: none;
}

#randd{
    display: none;
}

#prompt{
    display: none;
}
